<!DOCTYPE html>
<html>
<head> 
    <title>@ViewBag.Title - Moksh Healing</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta charset="utf-8" />    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBiZbK_ycQUlATsTiFMzbpGF50zSFgfSfg"></script>

    <style>
        #slide {
            border-radius: 10px;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_header">
                <div id="site_title" style="display: flex; align-items: center; ">
                    <!--<img src="@Url.Content("~/images/logo.png")" alt="logo" /> -->&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/logo_name.png")" alt="logo" />
                </div>
                <!-- end of site_title -->
            </div><!-- end of header -->

            <div id="templatemo_menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Booking", "Booking", "Home")</li>
                    <li>@Html.ActionLink("Testimony", "Testimony", "Home")</li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
            </div> <!-- end of menu -->

            <div id="templatemo_middle">
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide1.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide2.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide3.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide4.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide5.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide6.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide7.jpg") style="width:100%" />
                <img class="mySlides" id="slide" src=@Url.Content("~/images/image_slide8.jpg") style="width:100%" />
            </div>

            <div id="templatemo_main_base">
                <div id="templatemo_main">
                    <h4 align="center">
                        @Html.ActionLink("Booking", "Booking") | 
                        @Html.ActionLink("Privacy", "Privacy") | 
                        @Html.ActionLink("Disclaimer", "Disclaimer")
                    </h4>

                    <div class="content_box">
                        @RenderBody()
                    </div>
                </div>
            </div>	<!-- end of main_base -->
            <div id="templatemo_main_bottom">
            </div>
           <!-- Social Media-->
            <aside id="sticky-social">
                <ul>
                    <li><a href="https://www.facebook.com/moksh23" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
                    <li><a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
                    <li><a href="#" class="entypo-gplus" target="_blank"><span>Google+</span></a></li>
                    <li><a href="#" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
                    <li><a href="#" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
                    <li><a href="#" class="entypo-stumbleupon" target="_blank"><span>StumbleUpon</span></a></li>
                    <li><a href="#" class="entypo-pinterest" target="_blank"><span>Pinterest</span></a></li>
                    <li><a href="#" class="entypo-flickr" target="_blank"><span>Flickr</span></a></li>
                    <li><a href="#" class="entypo-tumblr" target="_blank"><span>Tumblr</span></a></li>
                </ul>
            </aside>

            <div id="templatemo_footer">
                @Html.ActionLink("Home", "Index") | @Html.ActionLink("About Us", "About") | @Html.ActionLink("Services", "Services") | @Html.ActionLink("Booking", "Booking") | @Html.ActionLink("Testimony", "Testimony") | @Html.ActionLink("News", "News") | @Html.ActionLink("Contact Us", "Contact") <br /><br />
                Copyright © 2017 Moksh Healing House pvt ltd
            </div> <!-- end of footer -->

            <div class="cleaner">
            </div>
        </div> <!-- end of wrapper -->
    </div> <!-- end of body_wrapper -->

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required:false)

</body>
</html>
